<header class="header">
    <div class="header-info">
        <div class="left">
            <h2 class="header-title"><strong>Page</strong> header <small class="subtitle">You'll see different examples of page header</small></h2>
        </div>

        <div class="right flex-middle">
            <form class="lookup lookup-circle lookup-lg lookup-right" target="index.html">
                <input type="text" name="s">
            </form>
        </div>
    </div>

    <div class="header-action">
        <nav class="nav">
            <a class="nav-link active" href="cards-basic.html">Basic</a>
            <a class="nav-link" href="cards-complex.html">Complex</a>
            <a class="nav-link d-none d-md-block" href="cards-coloring.html">Coloring</a>
            <a class="nav-link d-none d-md-block" href="cards-group.html">Group</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Settings</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" data-toggle="tab" href="#info3">Personal info</a>
                    <a class="dropdown-item" data-toggle="tab" href="#pass3">Change password</a>
                    <a class="dropdown-item" data-toggle="tab" href="#noti3">Notifications</a>
                </div>
            </div>
        </nav>
    </div>
</header>