<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Page not found - 安徽大学在线CTF竞赛平台</title>

    <!-- Styles -->
    <link href="/static/css/core.min.css" rel="stylesheet">
    <link href="/static/css/app.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
</head>

<body>

<div class="row no-margin h-fullscreen" style="padding-top: 10%">

    <div class="col-12">
        <div class="card card-transparent mx-auto text-center">
            <h1 class="text-secondary lh-1" style="font-size: 200px">404</h1>
            <hr class="w-30px">
            <h3 class="text-uppercase">Page not found!</h3>

            <p class="lead">Seems you're looking for something that doesn't exist.</p>
        </div>
    </div>


    <footer class="col-12 align-self-end text-center fs-13">
        <p>Copyright © 2018 <a href="https://www.ahusec.cn"><strong>AHUSEC</strong></a>. All rights reserved.</p>
    </footer>
</div>

<!-- Scripts -->
<script src="/static/js/core.min.js"></script>
<script src="/static/js/app.min.js"></script>
<script src="/static/js/script.min.js"></script>

</body>
</html>