<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="安徽大学AHUSEC-CTF在线竞赛系统-用户注册页面">
    <meta name="keywords" content="注册, 用户注册">

    <title>注册 &mdash; AHUSEC</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/static/css/core.min.css" rel="stylesheet">
    <link href="/static/css/app.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
</head>

<body>

<div class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            <h5 class="text-uppercase">注册新用户</h5>
            <br>

            <form data-provide="validation" class="form-type-material" ic-post-to="/user/register/postCheck.html" ic-target="#form-target" ic-verb="POST" ic-trigger-on="default" ic-deps="ignore">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" data-remote="/user/register/getUsername" data-minlength="2"  maxlength="12" required>
                    <div class="invalid-feedback"></div>
                    <label for="username">用户名<small>（长度2-12，可以填写中文）</small></label>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" data-remote="/user/register/getEmail" required>
                    <div class="invalid-feedback"></div>
                    <label for="email">邮箱</label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="input-pass" name="password" data-remote="/user/register/getPassword" data-minlength="8" maxlength="20" required>
                    <div class="invalid-feedback"></div>
                    <label for="input-pass">密码<small>（8-20字符，不能使用空格）</small></label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="input-pass-confirm" data-match="#input-pass" required>
                    <div class="invalid-feedback"></div>
                    <label for="input-pass-confirm">确认密码</label>
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="checkbox" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">我同意<a class="text-primary" href="#">用户注册协议</a></span>
                    </label>
                </div>

                <br>
                <button class="btn btn-bold btn-block btn-primary" type="submit">注册</button>
            </form>
            <div id="form-target"></div>
        </div>
        <p class="text-center text-muted fs-13 mt-20">已经有账号了吗? <a class="text-primary fw-500" href="/user/login.html">登陆</a></p>
    </div>


    <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0"><small>Copyright © 2018 <a href="https://www.ahusec.cn">AHUSEC</a>. All rights reserved.</small></p>
    </footer>
</div>

<!-- Scripts -->
<script src="/static/js/core.min.js"  data-provide="sweetalert"></script>
<script src="/static/js/app.min.js"></script>
<script src="/static/js/script.min.js"></script>

</body>
</html>

